
table filter {
	chain INPUT {
		mod conntrack ctstate NEW ACCEPT {
			{{ "daddr " + item.daddr if item.daddr }}
			{{ "proto " + item.proto if item.proto }}
			{{ "dport " + item.dport|string if item.dport }};
		}
	}
}
