# Summary:
# - keep {{ item.size }} of logs
# - {{ "delete otherwise" if not item.rotate else "archive " + item.rotate + " files" }}.

{{ path }} {
	missingok
	copytruncate
	size {{ item.size }}
	rotate {{ item.rotate }}
}
