# Forward logs to remote server(s).

{% if syskit_logforward.tcp %}
*.* @@{{ syskit_logforward.tcp.address }}:{{ syskit_logforward.tcp.port }}
{% endif %}

{% if syskit_rsyslog_forward.udp %}
*.* @{{ syskit_logforward.udp.address }}:{{ syskit_logforward.udp.port }}
{% endif %}
