{% set item_upstream_timeout = {{ item.upstream.timeout|default(4) }} %}
{% set listen_suffix = ' default_server' if {{ item.default|default(False) }} else '' %}
{% if item.server.tls %}
	{% set item_server_port = {{ item.server.port|default(443) }} %}
{% else %}
	{% set item_server_port = {{ item.server.port|default(80) }} %}
{% endif %}
###
# Reverse-proxy {{ item.server.name }}:{{ item_server_port }} to {{ item.upstream.address }}:{{ item.upstream.port }}.
###

upstream {{ item.upstream.name }} {
	server {{ item.upstream.address }}:{{ item.upstream.port }} fail_timeout={{ item_upstream_timeout }};
}

server {
	server_name         {{ item.server.name }};
{% if item.server.tls %}
	listen              {{ item_server_port }} ssl{{ listen_suffix }};
	ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
	ssl_certificate     /etc/ssl/certs/{{ item.server.name }}.crt;
	ssl_certificate_key /etc/ssl/private/{{ item.server.name }}.key;
{% else %}
	listen              {{ item_server_port }}{{ listen_suffix }};
{% endif %}
	location / {
		proxy_set_header  Host $host;
		proxy_set_header  X-Real-IP $remote_addr;
		proxy_set_header  X-Forwarded-Proto https;
		proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_pass        {{ item.upstream.protocol }}://{{ item.upstream.name }};
		proxy_redirect    default;
	}
}
